#lbpesquisaOP {
    color: #b8c7ce;
    font-size: 14px;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial,
        sans-serif;
    font-weight: 400;
}

#loginpage {
    padding-top: 5%;
    overflow-y: hidden;
    background-image: linear-gradient(
        to bottom right,
        #ecf0f5,
        rgb(190, 190, 190)
    );
}
