#lbpesquisaOP {
    color: #b8c7ce;
    font-size: 14px;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial,
        sans-serif;
    font-weight: 400;
}

#loginpage {
    padding-top: 5%;
    background-image: linear-gradient(
        to bottom right,
        #ecf0f5,
        rgb(190, 190, 190)
    );
}

// input ajustado para pequeno
.input-peq {
    height: 22px;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 0px;
}

// Fixed icon position input pequeno
#frmlogin .glyphicon {
    position: absolute;
    top: 5px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
